<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lägg till medlemmar</title>
</head>
<body>
    <h1>Lägg till medlemmar</h1>
    <div>
        <!--Input fält om knapp för att lägga till ny medlem-->
        <form method="post" th:action="@{/new-member}" th:object="${newMember}">
            <input type="text" th:field="*{memberName}" placeholder="Skriv medlemmens namn"/><br/>
            <input type="text" th:field="*{memberEmail}" placeholder="Skriv medlemmens email"/><br/>
            <button type="submit">Lägg till medlem</button>
        </form>
    </div>

    <!--Länkar till de andra html sidorna-->
    <a href="/member">Se medlemmar</a>
    <a href="/">Startsida</a>    
</body>
</html>