<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lägg till medlemmar</title>
    <script src="form.js" defer></script> <!--Länk till javascript filen-->
</head>
<body>
    <div id="notLoggedInMessage"> <!--En div med id som jag använder i form.js för att visa bara om admin inte finns i localStorage-->
    <h1>Du kan inte använda denna sida då du inte är inloggad!</h1>
    <p>Tryck på "Logga in" länken för att logga in!</p>
    </div>

    <div id="adminAccess"> <!--Lägger innehållet i en div med id så jag i form.js kan avgöra om det ska visas eller inte beroende på om man är inloggad-->
    <h1>Lägg till medlemmar</h1>
        <!--Input fält om knapp för att lägga till ny medlem-->
        <form method="post" th:action="@{/new-member}" th:object="${newMember}">
            <input type="text" th:field="*{memberName}" placeholder="Skriv medlemmens namn"/><br/>
            <input type="text" th:field="*{memberEmail}" placeholder="Skriv medlemmens email"/><br/>
            <button type="submit">Lägg till medlem</button>
        </form>
    </div>

    <!--Länkar till de andra html sidorna-->
    <a href="/member">Se medlemmar</a><br/>
    <a href="/">Startsida</a><br/>
    <a href="/login">Logga in</a>
</body>
</html>