<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logga in</title>
    <script src="script.js" defer></script>
</head>
<body>
    <h1>Logga in!</h1>
    <form id="login">
        <input id="username" type="text" name="username" placeholder="Skriv användarnamn"><br/>
        <input id="password" type="text" name="password" placeholder="Skriv lösenord"><br/>
        <button id="loginBtn" type="button">Logga in</button>
    </form>
</body>
</html>